.sidebar-container {
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 40;
  padding: 1rem;
  bottom: 13%;
}
.sidebar-text-container {
  display: flex;
  justify-content: space-around;
}
.sidebar-textdiv {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.sidebar-text {
  color: #b3b3b3;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar-icon {
  color: #b3b3b3;
  font-size: 1.4em;
  margin-left: 1rem;
  margin-right: 1rem;
}
.sidebar-textdiv {
  display: flex;
  align-items: center;
}
