.player-container {
padding-top: 1rem;
height: 15vh;
width: 100%;
background-color: #181818;
position: fixed;

}
.player-elements {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}
.player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --tw-space-x-reverse: 0;
}
.player-play{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
}
.player-skip{
    color: #b3b3b3;
    font-size: 1.5rem;
    margin-top: .4rem;
}
.player-skip:nth-child(1){
margin-right: .5rem;
}
.player-skip:nth-child(3){
margin-left: .5rem;
}